<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Match Page</title>
  <link rel="stylesheet" href="../templates/styles.css">
</head>

<body id="main-body">
	<div id="navbar">
		<a id="home" href="/">Home</a>
		<a id="teamStats" href="/teamStats.html">Team Stats</a>
    <a id="register" href="/register.html">Register</a>
	</div>

  <h1>Match Details</h1>

  <p>Match ID:</p><p id="matchID"><%= match_id %></p>
  <!-- Other HTML content based on matchID -->
  <p>Home Team <%= home_id %></p> 
  <p>Away Team <%= away_id %></p>

  <button id="getTossup">Get Next Tossup</button>

</body>
</html>

<script>
    // Get all of the info
    function getMatchInfo() {
        let matchID = document.getElementById("matchID").innerHTML;
        console.log("Fetching info for match " + matchID);
		const responsePromise = fetch("/get-match?matchID=" + matchID, {
			method: "GET",
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		});

		responsePromise.then(
			// Fulfilled
			async (response) => {
				populateMatchData(await response.json())
			},
			// Error
			(error) => {
				alert("Cannot obtain players")
			})
    }

    function populateMatchData(results) {
        console.log("Populating info for")
        console.log(results)
    }


    

    // Function to handle the API call
    function callAPI() {
      fetch('https://www.qbreader.org/api/random-tossup')
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response failed');
          }
          return response.json();
        })
        .then(data => {
          // Process and use the retrieved data in your application
          console.log(data);
          // You can do more here with the API response data
        })
        .catch(error => {
          console.error('There was a problem with the fetch operation:', error);
        });
    }

    // Attach the API call function to the button click event
    document.getElementById('getTossup').addEventListener('click', callAPI);

</script>