<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quizbowl homepage</title>
	<!-- You can also define the contents of the file inside a <style> tag -->
	<link rel="stylesheet" href="styles.css">
</head>

<body id="main-body">
	<div id="navbar">
		<a id="home" href="index.html">Home</a>
		<a id="match" href="match.html">Match</a>
		<a id="teamStats" href="teamStats.html">Team Stats</a>
	</div>

	<header id="main-header">
        <h1>Welcome to Quizbowl!</h1>
        <p>Write cool description</p>
    </header>

	<section id="content-section">
        <h1 id="heading-one">Heading</h1>
		<img src="Quizbowl_icon.jpg" alt="Quizbowl icon" id="sample-image">

        <h2>This is a heading level 2</h2>
		<p>Already registered your teams? Enter the IDs for the two competing teams</p>
		<label for="homeID">Home: </label>
		<input type="text" id="homeID" name="homeID" placeholder="(required)" required></input>
		<br>
		<label for="awayID">Away: </label>
		<input type="text" id="awayID" name="awayID" placeholder="(required)" required></input>
		<br>
		<input type="submit" onclick="startGame()"></input>

		<p>New to the game? register your team:</p>
		<a href="register" target="_blank" id="external-link">Register team</a>

    </section>

	<!-- <p>Want to see your team's stats? Enter your team ID:</p>
	<label for="teamID">TeamID: </label>
	<input type="text" id="teamID" name="teamID" placeholder="(required)" required></input>
	<input type="submit" onclick="startGame()"></input> -->
	
	<!--
	<ul id="playerList">
	</ul>

	<p> Get the information about a player from its name </p>
	<label for="name">Name</label>
	<input type="text" id="playerName" name="name" placeholder="(required)" required></input>
	
	<br>
	<input type="submit" onclick="fetchPlayers()"></input>
	<hr>

	<!-- <form action="/student" method="GET">
		<label for="fname">First name:</label>
		<br>
		<!-- Use "value" instead of "placeholder" for a default entered value ENDSINGLELINECOMMENT
		<!-- Note the required attribute here, but not in the last name ENDSINGLELINECOMMENT
		<!-- id is the local name for DOM manipulation; name is the name posted to the server ENDSINGLELINECOMMENT
		<input type="text" id="fname" name="fname" placeholder="(required)" required><br>

		<label for="lname">Last name:</label>
		<br>
		<!-- Use "value" instead of "placeholder" for a default entered value ENDSINGLELINECOMMENT
		<input type="text" id="lname" name="lname" placeholder="(optional)"><br>

		<label for="lname">Telephone:</label>
		<br>
		<!-- Learn the syntax for regular expression patterns in https://regexone.com/ ENDSINGLELINECOMMENT
		<input type="text" id="phone" name="phone" placeholder="555-555-1234"
			pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

		<br>
		<br>

		<input type="submit" value="Submit">
	</form> -->
</body>

<script>
	function fetchPlayers() {
		let name = document.getElementById("playerName").value
		const responsePromise = fetch("/player?name=" + name, {
			method: "GET",
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		});

		responsePromise.then(
			// Fulfilled
			async (response) => {
				populateListPlayer(await response.json())
			},
			// Error
			(error) => {
				alert("Cannot obtain players")
			})
	}

	function startGame() {
		let home = document.getElementById("homeID").value
		let away = document.getElementById("awayID").value
		const responsePromise = fetch("/create-match/?homeID=" + home + "&awayID=" + away, {
			method: "GET",
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		});

		responsePromise.then(
			// Fulfilled
			async (response) => {
				console.log("Got a response for match creation!")
				console.log(response)
				window.location.replace("/get-match?matchID=1")

				// const responsePromise = fetch("/get-match?matchID=" + response.json["matchID"], {
				// 	method: "GET",
				// 	headers: {
				// 		"Content-type": "application/json; charset=UTF-8"
				// 	}
				// });

			},
			// Error
			(error) => {
				alert("Failed to start match")
				console.log(error)
			})
	}

	// For testing in the HTML world
	// <!-- <button type="button" onclick="populateList([['a', 'b'], ['c', 'd']])"> -->
	function populateListPlayer(results) {
		let players = document.getElementById("playerList")

		results.forEach(element => {
			let player = document.createElement("li")
			player.innerText = "Name: " + element.name + "; ID: " + element.player_id

			players.appendChild(player)
			console.log(element)
		})
	}
</script>

</html>