<!DOCTYPE html>
<html lang="en">

<head>
	<title>My First Webpage</title>
	<meta charset="utf-8">

	<!-- You can also define the contents of the file inside a <style> tag -->
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>
	<!-- We will populate this list via the database, see Javascript code below -->

	<ul id="playerList">
	</ul>

	<p> Get the information about a player from its name </p>
	<label for="name">Name</label>
	<input type="text" id="playerName" name="name" placeholder="(required)" required></input>
	
	<br>
	<input type="submit" onclick="fetchPlayers()"></input>

	<hr>

	<p> First way of getting dynamic content: HTML forms </p>
	<form action="/student" method="GET">
		<label for="fname">First name:</label>
		<br>
		<!-- Use "value" instead of "placeholder" for a default entered value -->
		<!-- Note the required attribute here, but not in the last name -->
		<!-- id is the local name for DOM manipulation; name is the name posted to the server -->
		<input type="text" id="fname" name="fname" placeholder="(required)" required><br>

		<label for="lname">Last name:</label>
		<br>
		<!-- Use "value" instead of "placeholder" for a default entered value -->
		<input type="text" id="lname" name="lname" placeholder="(optional)"><br>

		<label for="lname">Telephone:</label>
		<br>
		<!-- Learn the syntax for regular expression patterns in https://regexone.com/ -->
		<input type="text" id="phone" name="phone" placeholder="555-555-1234"
			pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

		<br>
		<br>

		<input type="submit" value="Submit">
	</form>
</body>

<script>
	function fetchPlayers() {
		let name = document.getElementById("playerName").value
		const responsePromise = fetch("/player?name=" + name, {
			method: "GET",
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		});

		responsePromise.then(
			// Fulfilled
			async (response) => {
				populateListPlayer(await response.json())
			},
			// Error
			(error) => {
				alert("Cannot obtain players")
			})
	}

	// For testing in the HTML world
	// <!-- <button type="button" onclick="populateList([['a', 'b'], ['c', 'd']])"> -->
	function populateListPlayer(results) {
		let players = document.getElementById("playerList")

		results.forEach(element => {
			let player = document.createElement("li")
			player.innerText = "Name: " + element.name + "; ID: " + element.player_id

			players.appendChild(player)
			console.log(element)
		})
	}
</script>

</html>