<!DOCTYPE html>
<html lang="en">
<a href='index.html' >Other page</a>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body id="main-body">
	<div id="navbar">
		<a id="home" href="index.html">Home</a>
		<a id="teamStats" href="teamStats.html">Team Stats</a>
        <a id="register" href="register.html">Register</a>
	</div>

    <h1> Tossup Number </h1>

    <table>
        <tr>
            <th id="homeName"></th>
            <th id="awayName"></th>
        </tr>
    </table>

    <input type="submit" onclick="populateScoreForm()"></input>
</body>

<script>
    // on startup
    document.addEventListener('DOMContentLoaded', function() {
        // Your function call goes here
        getMatchInfo();
    });

    function getMatchInfo() {
        console.log("test")
    }


    function populateScoreForm(results) {
        let homeName = document.getElementById("homeName") 
        let awayName = document.getElementById("awayName")

        homeName.textContent = "TEST";
    }
</script>


