<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register Page</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body id="main-body">
	<div id="navbar">
		<a id="home" href="/index.html">Home</a>
		<a id="playerStats" href="/playerStats.html">Player Stats</a>
    <a id="register" href="/register.html">Register</a>
	</div>

<section id="content-section">
    <style>
        .input-container {
          clear: both;
          margin-bottom: 10px;
        }
      
        label {
          float: left;
          width: 200px;
        }
      
        input {
          float: left;
          width: 200px;
        }
      
        /* Clearfix to clear the floats */
        .clearfix::after {
          content: "";
          display: table;
          clear: both;
        }
      </style>

    <h2>New to the game? Register as a new player:</h2>
    <div class="input-container">
    <label for="username">Player username: </label>
    <input type="text" id="username" name="username" placeholder="(required)" required></input>
    </div>

    <div class="input-container">
      <label for="major">Major: </label>
      <select name="major" id="major" required>
        <option value="" disabled selected>(select)</option>
        <option value="Science">Science</option>
        <option value="History">History</option>
        <option value="Literature">Literature</option>
      </select>
    </div>

    <div class="input-container">
      <label for="minor">Minor: </label>
      <select name="minor" id="minor" required>
        <option value="" disabled selected>(select)</option>
        <option value="RMP">Religion, Mythology, and Philosophy</option>
        <option value="Geography">Geography</option>
        <option value="FA">Fine Arts</option>
        <option value="Trash">Trash</option>
      </select>
    </div>

    <input type="submit" onclick="registerPlayer()"></input>

    <br>
    
    <h2>All members of your team are registered players? Register your team:</h2>
    <div class="input-container">
    <label for="P1ID">Team name:</label>
    <input type="text" id="teamName" name="teamName" placeholder="(required)" required>
    </div>

    <div class="input-container">
    <label for="P1ID">School:</label>
    <input type="text" id="school" name="school" placeholder="(required)" required>
    </div>

    <div class="input-container">
    <label for="P1ID">Player 1 username:</label>
    <input type="text" id="P1ID" name="P1ID" placeholder="(required)" required>
    </div>
    
    <div class="input-container">
    <label for="P2ID">Player 2 username:</label>
    <input type="text" id="P2ID" name="P2ID" placeholder="(optional)">
    </div>
    
    <div class="input-container">
    <label for="P3ID">Player 3 username:</label>
    <input type="text" id="P3ID" name="P3ID" placeholder="(optional)">
    </div>
    
    <div class="input-container">
    <label for="P4ID">Player 4 username:</label>
    <input type="text" id="P4ID" name="P4ID" placeholder="(optional)">
    </div>
    
    <div class="input-container">
    <label for="P5ID">Player 5 username:</label>
    <input type="text" id="P5ID" name="P5ID" placeholder="(optional)">
    </div>
    
    <div class="clearfix"></div>
    
    <input type="submit" onclick="registerTeam()">
      
</section>
</body>

<script>
	function registerPlayer() {
		let username = document.getElementById("username").value
    let major = document.getElementById("major").value
    let minor = document.getElementById("minor").value
		const responsePromise = fetch("/create-player/?" + "username=" + username + "&major=" + major + "&minor=" + minor, {
			method: "GET",
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		});

		responsePromise.then(
			// Fulfilled
			async (response) => {
        let playerResult = await response.json()
        console.log("Player Result:" + playerResult)
        alert("Successfully added " + username + " with major " + major + " and minor " + minor + "! You can now return to the homepage to start a match or stay on this page to create new teams and players.")
			},
			// Error
			(error) => {
				alert("Failed to add player. Make sure that the username is unique.")
				console.log(error)
			})
	}

  function registerTeam() {
    let name = document.getElementById("teamName").value
    let school = document.getElementById("school").value
    let p1 = document.getElementById("P1ID").value
    let p2 = document.getElementById("P2ID").value
    let p3 = document.getElementById("P3ID").value
    let p4 = document.getElementById("P4ID").value
    let p5 = document.getElementById("P5ID").value

		const responsePromise = fetch("/create-team/?" + "name=" + name + "&school=" + school + "&P1=" + p1 + "&P2=" + p2 + "&P3=" + p3 + "&P4=" + p4 + "&P5=" + p5, {
			method: "GET",
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		});

		responsePromise.then(
			// Fulfilled
			async (response) => {
        let teamResult = await response.json()
        console.log("Team Result:" + teamResult)
        alert("Your new team's ID is " + teamResult["insertId"] + ". Please save it somewhere! You can now return to the homepage to start a match or stay on this page to create new teams and players.")
			},
			// Error
			(error) => {
				console.log(error)
			})
	}
</script>

</html>