<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quizbowl homepage</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body id="main-body">
	<div id="navbar">
		<a id="home" href="/">Home</a>
		<a id="teamStats" href="/teamStats.html">Team Stats</a>
    	<a id="register" href="/register.html">Register</a>
	</div>

    <label for="teamID">Team ID: </label>
	<input type="text" id="teamID" name="teamID"></input>
    <input type="submit" onclick="fetchTeamStats()"></input>

    <table id="teamStatsTable">
		<tr>
			<th>Name</th>
			<th>Total Points</th>
		</tr>	
	</table>

</body>

<script>
    function fetchTeamStats() {
        let teamID = document.getElementById("teamID").value

        const responsePromise = fetch("/stats?teamID=" + teamID, {
			method: "GET",
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		});

		responsePromise.then(
			// Fulfilled
			async (response) => {
				let result = await response.json()
				console.log(result)
				populateTeamStats(result)
			},
			// Error
			(error) => {
				alert("Cannot obtain team stats")
			})
    }

    function populateTeamStats(results) {
		console.log("RE SULTS")
        let statsTable = document.getElementById("teamStatsTable")
		console.log(results);

		let playerRow = document.createElement("tr")

		results.forEach(player => {
			let playerName = document.createElement("td")
			let playerPoints = document.createElement("td")
			playerName.innerText = player["name"]
			playerPoints.innerText = player["total_pts"]
		});
    }
</script>